<head>
    <meta charset="utf-8" />
    <meta name="description" content="Kupi si torti4ka,vrat ;)" />
    <meta name="keywords" content="cakes,buy" />
    <meta name="author" content="Ba6ta ti!" />

    <environment include="Development">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstra
        p.min.css " />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.
min.js"></script>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="~/css/Example.css" rel="stylesheet" />
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular/angular-animate.js"></script>
    <link href="~/css/animate.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
        </environment>
</head>
<body>
    <div class="sidebar">

    </div>
    <div class="sidebar2">

    </div>
</body>
<footer>
    @RenderBody()
</footer>