@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "TopicError";
    <meta http-equiv="refresh" content="1.2;url=https://localhost:44376/Forum/Home">
}
<head>
</head>
<body class="page-template-default page page-id-43 logged-in admin-bar custom-background custom-background-image custom-background-color full-width customize-support about-body">
    <partial name="_ForumNavBar">
        <br />
        <div class="entry-content cake-entry-content" itemprop="text">
            <div class="blog-section cake-blog-section">
                <p class="mainText cake-error-text">Please, do not insert empty comments!</p>
            </div>
        </div>
</body>
<footer>
    <partial name="_Footer">
</footer>
