@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApplication1.Data.Models.Topic
<title>
    Edit Topic
</title>
<body class="page-template-default page page-id-43 logged-in admin-bar custom-background custom-background-image custom-background-color full-width customize-support about-body">
    <partial name="_ForumNavBar">
        <form asp-controller="Forum" asp-action="SubmittedEdit" asp-route-id="@Model.Id" method="post" class="about-body">
            <input class="mainText about-body new-topic-name" type="text" name="topicName" value="" placeholder="New Topic Name" />
            <br />
            <select name="category" class="topic-category">
                <option selected disabled value="">Select new Category</option>
                <option value="Ideas">Ideas</option>
                <option value="How To">How To</option>
                <option value="Issues">Issues</option>
                <option value="Updates">Updates</option>
                <option value="Others">Others</option>
            </select>
            <br />
            <textarea class="blog-section edit-topic-blog-section"
                      type="text" name="Content" value="" placeholder="Text..."></textarea>
            <br />
            <input class="mainButton medium-text" type="submit" name="" value="Publish" />
        </form>
</body>

<footer>
    <partial name="_Footer">
</footer>
