@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <meta http-equiv="refresh" content="1.5;url=https://localhost:44376/Forum/Home">
    <title>Submitted</title>
</head>
<body class="page-template-default page page-id-43 logged-in admin-bar custom-background custom-background-image custom-background-color full-width customize-support about-body large-text">
    <partial name="_ForumNavBar">
        <div class="blog-section">
            <h2>Topic Changed!</h2>
            <hr />
        </div>
</body>
<footer>
    <partial name="_Footer">
</footer>