@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "TopicError";
}
<head>
</head>
<body class="page-template-default page page-id-43 logged-in admin-bar custom-background custom-background-image custom-background-color full-width customize-support about-body">
    <partial name="_ForumNavBar">
        <br />
        <div class="entry-content home-entry-content" itemprop="text">
            <div class="blog-section home-blog-content">
                <p class="mainText topic-error">No Topics to display.</p>
            </div>
        </div>
</body>
<footer>
    <partial name="_Footer">
</footer>
