@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "RemoveAll";
}
<head>
    <meta http-equiv="refresh" content="1.5;url=https://localhost:44376">
    <partial name="_NavBar">
        <title>
            Clear Cart
        </title>
</head>
<body class="cakeBackground">
    <h2 class="mainBar">You have cleared your Shopping Cart!</h2>
</body>
<footer>
    <partial name="_Footer">
</footer>