@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <title>Cakes</title>
</head>
<body class="page-template-default page page-id-43 logged-in admin-bar custom-background custom-background-image custom-background-color full-width customize-support" itemscope="" itemtype="http://schema.org/WebPage">
    <partial name="_NavBar">
        <div id="acc-content">
            <div class="container">
                <div id="content" class="site-content">

                    <div id="primary" class="content-area">
                        <main id="main" class="site-main" role="main">

                            <article id="post-43" class="post-43 page type-page status-publish hentry">
                                <div class="text-holder">

                                    <div class="entry-content has-text-align-center" itemprop="text">
                                        <p class="main-header">We make the best cakes in all of Bulgaria!</p>
                                        <div class="wp-block-image is-style-circle-mask"><figure class="aligncenter size-large is-resized"><img src="~/images/bulgarianFlag.png" alt="" width="300" height="271"></figure></div>
                                        <br />
                                        <hr class="wp-block-separator has-text-color has-background has-cyan-bluish-gray-background-color has-cyan-bluish-gray-color is-style-wide">
                                        <br />
                                        <p class="main-header">Because we care about our clients and their demands are our top priority, we work every day to improve the quality and the price balance of our products.</p>
                                        <div class="wp-block-image is-style-circle-mask"><figure class="aligncenter size-medium"><img style="width:300px;" src="https://cdn0.iconfinder.com/data/icons/user-interface-material-4-1/26/368-512.png" alt="" class="wp-image-44" sizes="(max-width: 200px) 100vw, 200px"></figure></div>
                                        <br />
                                        <hr class="wp-block-separator has-text-color has-background has-cyan-bluish-gray-background-color has-cyan-bluish-gray-color is-style-wide">
                                        <br />
                                        <p class="main-header">Meeting your expectations is our life goal!</p>
                                        <div class="wp-block-image is-style-circle-mask"><figure class="aligncenter size-large is-resized"><img src="~/images/thumbsUp.png" alt="" width="320" height="348"></figure></div>
                                        <br />
                                        <hr class="wp-block-separator has-text-color has-background has-cyan-bluish-gray-background-color has-cyan-bluish-gray-color is-style-wide">
                                        <br />
                                        <p class="main-header">For more information you can check the <a asp-controller="Home" asp-action="About">About Us</a> article</p>
                                    </div>
                                </div>
                            </article>

                        </main>
                    </div>

                </div>
            </div>
        </div>
</body>
</html>
<footer>
    <partial name="_Footer">
</footer>

