@model WebApp.Data.Entities.User
@{
    ViewData["Title"] = "Home Page";
}

@if (Model == null)
{
    await Html.RenderPartialAsync("_GuestBar");
    <div class="text-center">
        <h1 class="display-4">Please, login for further info.</h1>
    </div>
}
else
{
    if (Model.IsAdmin)
    {
        await Html.RenderPartialAsync("_AdminBar");
        <div class="text-center">
            <h1 class="display-4">Welcome Admin!</h1>
        </div>
    }
    else
    {
        await Html.RenderPartialAsync("_UserBar");
        <div class="text-center">
            <h1 class="display-4">Welcome @Model.FullName!</h1>
        </div>
    }
}
