<div class="container">
    {{> header}}

    <div id="cinema">
            <h1>All Movies</h1>
            <form action="#/allMovies" method="GET">
                <label>Search genre:</label>
                <input type="text" name="search">
                <input type="submit" value="Search">
            </form>
            {{#each movies}}
            <div class="movies">
                <div class="movie">
                    <h2>Title: {{name}}</h2>
                    <img src="{{image}}">
                    <p>Available Tickets: {{tickets}}</p><button><a href="#">Buy Ticket</a></button>
                    <button><a href="#/details/{{objectId}}">Details</a></button>
                </div>
            </div>
            {{/each}}
        </div>
</div>

        {{> footer}}